services:
  db:
    image: postgis/postgis:13-3.1
    restart: always
    user: postgres
    environment:
      - POSTGRES_DB=gtfs_hk
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - gtfs_network
  app:
    build: .
    command: tail -f /dev/null
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/gtfs_hk
    volumes:
      - ./output:/app/output:z
      - ./.cache:/app/.cache:z
      - ./waypoints:/app/waypoints:z
    networks:
      - gtfs_network

networks:
  gtfs_network:

volumes:
  pg_data: